python-dotenv
pdfplumber
numpy
sentence-transformers
faiss-cpu
rich

# Preprocessing
marker-pdf

# LangChain (нові)
langchain>=1.0.0
langchain-community
langchain-ollama
langgraph
langserve

# API Server
fastapi
uvicorn
sse_starlette

